:root {
	--header-font: 'Varela Round', Sans-Serif;
	--paragraph-font: 'Open Sans', sans-serif;
	--margin-large: 4em;
	--margin-medium: 2.5em;
	--margin-small: 1.5em;
	--third-color: #F81EBC;
}

#meta-nav-detail {
	background-color: deepskyblue;
	height: 2em;
	padding-top: 3px;
}

#main_PD {
	height: 550px;
	width: auto;
	margin-top: 10em;
}

#main-nav {
	background-color: black;
	width: 100%;
}

.thumbnail-images {
	height: 50px;
	width: 50px;
}

button#dropdownMenuButton {
	background-color: white;
	color: black;
	width: 100%;
    /*border: deepskyblue 1px solid;*/
}

h5 {
	font-family: var(--header-font);
	margin-bottom: var(--margin-medium);
	margin-top: var(--margin-medium);
	color: deepskyblue;
}

h6 {
	font-family: var(--header-font);
	margin-top: var(--margin-small);
	color: #0f69a5;
	font-size: 1.2em;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-menu {
	border: transparent;
	margin-left: 3em;
}

a.dropdown-item {
    color: deepskyblue;
    font-size: 14px;
}

.dropdown-toggle::after {
	visibility: hidden;
}

p {
	font-family: var(--paragraph-font);
	color: #868e96;
}

.freq-bought-img {
	height: 300px;
	cursor: pointer;
}

/*.text-muted {
	color: var(--third-color) !important;
}*/

a:hover {
	text-decoration: none;
}

#product-details {
	margin-top: var(--margin-large);
}

.black-header {
	color: deepskyblue;
	margin-bottom: var(--margin-small);
}

ul {
	padding-left: inherit;
}

li {
	font-family: var(--paragraph-font);
	font-size: 15px;
	line-height: 41px;
	color: #0f69a5;
}

.card {
	margin-top: 10em;
	border: none;

}

.card-title {
	margin-top: -.5em;
	margin-bottom: 1em;

}

.card-text {
	margin-top: 1em;
	margin-bottom: var(--margin-medium);
	color: #0f69a5;
}

.round-img-section {
	margin-bottom: var(--margin-small);
}

button#dropdownMenuButton {
	margin-bottom: var(--margin-small);
	background-color: transparent;
	font-family: var(--header-font);
	text-align: left;
	color: #0f69a5;
	border: solid 1px #0f69a5;
}

.span-review-text {
	font-size: 16px;
	text-decoration: none;
}

h4 {
	color: deepskyblue;
	font-family: var(--header-font);
	margin-top: 2.2em;
}



button.navbar-toggler {
    margin-right: 1em;
    border: transparent;
}

.review-images {
	height: 200px;
	margin-left: 2em;
}

.review-paragraph-text {
	margin-top: 2.2em;
}

button#dropdownMenu2 {
	margin-bottom: var(--margin-small);
	background-color: transparent;
	border: solid #0f69a5 1px;
	color: #0f69a5;
	font-family: var(--header-font);
}
.meta-nav-text {
	margin-top: -8px;
	color: white;
}

span {
	text-decoration: underline;

}

.thumbnail-main-view {
	height: 100px;
	margin-top: 11px;
	
}

.thumbnail-main-view:hover {
	cursor: pointer;
}

.thumbnail-main-view:first-child {
	margin-top: 10em;
}

button.btn.btn-primary.btn-lg.btn-block {
	background-color: deepskyblue;
	color: white;
	font-family: var(--header-font);
	border: transparent 1px solid;
}

button.btn.btn-primary.btn-lg.btn-block:hover {
	transform: translateY(-1px);
	box-shadow: 0px 1px 0px #ced4da;
}

.rec-viewed {
	height: 235px;
	margin-top: 2em;
	
}

.rec-viewed:hover {
	cursor: pointer;
}

 .recently-viewed {
 	margin-bottom: 0;
 	margin-top: 3em;
 }

 #footer {
 	overflow-y: hidden;
	overflow-x: hidden;
	
	background-color: #0f69a5;
	margin-top: 6em;
	box-shadow: 0px -1px 1px gray;


}

#margin-bottom {
	margin-bottom: 7em;
}

.oi.oi-phone, .oi.oi-envelope-closed, .oi.oi-home {
	color: white;
	text-decoration: none;
}

.footer-paragraph {
	color: white !important;
	color: var(--primary-color);
	margin-top: 0;
    margin-bottom: 1rem;
    font-family: var(--paragraph-font);
    
}




.footer-paragraph:hover {
	cursor: pointer;
	text-decoration: underline;
}

.footer-headers {
	color: deepskyblue;
	font-weight: 900;
	margin-top: 7em;
	margin-bottom: 2em;
	/*font-family: 'Noto Serif', Serif;*/
	font-family: var(--header-font);
}

.no-padding {
	padding-right: 0;
	padding-left: 0;
}

nav.navbar.navbar-expand-lg.no-padding {
	margin-top: -20px;
	background-color: white !important;
	box-shadow: 0px 1px 1px #80808047;

}

#nav-brand {
	width: 25%;
	margin-left: 2em;
}

.main-nav {
    color: deepskyblue;
    margin-left: 4em;
}

a.nav-link.margin-right {
    margin-right: 4em;
    margin-left: 4em;
    color: deepskyblue;
}

a#navbarDropdown {
	margin-left: 3em;
}

svg.svg-inline--fa.fa-sun.fa-w-16 {
	color: var(--third-color);
	font-size: 40px;
	margin-top: 1.2em;
}

svg.svg-inline--fa.fa-sun.fa-w-16.disabled {
	color: #ded9d9;
}

.text-muted {
	cursor: pointer;
}

svg#dismiss-meta-nav:hover {
	cursor: pointer;
}

.recomendation-text {
	color: deepskyblue;
}
a.nav-link.margin-right:hover {
color: #0056b3;
}
 
svg.svg-inline--fa.fa-snapchat-ghost.fa-w-16, svg.svg-inline--fa.fa-twitter.fa-w-16, svg.svg-inline--fa.fa-youtube.fa-w-18 {
	font-size: 1em;
	margin-top: 1.5em;
	color: white;
	margin-left: 20px;
	cursor: pointer;
}

svg.svg-inline--fa.fa-facebook-f.fa-w-9 {
color: white;
	margin-left: 20px;
	font-size: 1em;
}
/*PRODUCT VIEW CODE*/
.product-view-img {
	height: 25em;
	margin-bottom: .8em;
	cursor: pointer;
	margin-top: 2em;
	    
}

#product-margin-top {
	margin-top: 10em;
}

.product-color-change {
	height: 25px;
	width: 25px;
	margin-right: 5px;
	cursor: pointer;
}

.product-headers {
	margin-top: .9em;
	cursor: pointer;
}

.active-thumb {
	border: black 1px solid
}

/*PAGINATION*/

.page-link {
	border: white 1px solid;
	color: deepskyblue;
}

.pagination {
	margin-top: 5em;
}

.accordion-left-nav {
	margin-top: 0;
	width: 300px;
}

.pinapple {
	position: absolute;
    height: 500px;
    width: 600px;
/*   	animation: MoveUpDown 5s ease-in infinite;*/
    z-index: 2;
    left: -280px;
    transform: rotate(15deg);

}

h5.mb-0 {
	margin-top: 0;
}

.pinapple-img {
	height: 100%;
	width: auto;
}

.main-headers {
	font-family: var(--header-font);
	color: deepskyblue;
	font-size: 1.5em;
}

.personal-shopper {
	background-color: deepskyblue;
	height: 100%;
}

svg.svg-inline--fa.fa-lightbulb.fa-w-12 {
	font-size: 2em;
	color: white;
	margin: 0 auto;
	margin-top: 1em;
}

.ps-paragraph {
	color: white;
	text-align: center;
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 1.5em;
	line-height: 2.5;
}

.lightbulb {
	background-color: deepskyblue;
}

.lightbulb:hover {
	animation-name: flash;
	animation: flash .50s infinite alternate;
	background-color: deepskyblue;

}

svg.svg-inline--fa.fa-lightbulb.fa-w-12:hover {
	
}

.no-margin-bottom {
	margin-bottom: 10px;
}

.sub-headline-text {
	text-decoration: none;
	color: #0f69a5;
	font-family: var(--paragraph-font);
	margin-left: 3px;
}

ul.list-group {
	margin-top: 2em;
}

svg.svg-inline--fa.fa-shopping-cart.fa-w-18 {
	color: deepskyblue;
	margin-top: 20px;
	font-size: 16px;
	cursor: pointer;
	margin-right: 30px;
	margin-left: 30px;
}

svg.svg-inline--fa.fa-search.fa-w-16 {
	color: deepskyblue;
	margin-top: 20px;
	font-size: 16px;
	cursor: pointer;
	margin-right: 5px;
	margin-left: 30px;
}

label {
	color: deepskyblue;
}



.card-header {
	background-color: transparent;
	padding-left: 0;
	width: 200px;
}

#headingOne {
	margin-top: 2em;

}

.navbar-light .navbar-nav .nav-link {
	color: deepskyblue;
}
.navbar-light .navbar-nav .nav-link:hover {
	color: #0f69a5;
}

label.custom-control-label {
	font-family: var(--paragraph-font);
	color: #0f69a5;
	font-size: 14px;
}

button.btn.btn-link {
	color: #0f69a5;
	font-size: 16px;
}



@keyframes flash {
	to { transform: scale(1.2); }
}

@media only screen 
  and (min-width: 320px) 
  and (max-width: 480px) {
  	.ps-paragraph {
  		font-size: 16px;
  		margin: 1.5em;
  		margin-bottom: 3em;
  	}
  	nav.navbar.navbar-expand-lg.no-padding {
    	height: 4em;
	}
	.pinapple-img {
		display: none;
	}
	.pinapple {
		display: none;
	}
	#nav-brand {
		margin-left: .5em;
	}
	a.nav-link.main-nav {
		margin-left: 10px;
		background-color: white;
	}
	a.nav-link.margin-right {
		background-color: white;
		margin-left: 10px;
	}
	.navbar-nav {
		background-color: white;
	}
  }
