:root {
	--header-font: 'Varela Round', Sans-Serif;
	--paragraph-font: 'Open Sans', sans-serif;
	--margin-large: 4em;
	--margin-medium: 2.5em;
	--margin-small: 1.5em;
}

#meta-nav-detail {
	background-color: deepskyblue;
	height: 2em;
	padding-top: 3px;
}

#main_PD {
	height: 550px;
	width: auto;
	margin-top: 10em;
}

#main-nav {
	background-color: black;
	width: 100%;
}

.thumbnail-images {
	height: 50px;
	width: 50px;
}

button#dropdownMenuButton {
	background-color: white;
	color: black;
	width: 100%;
}

h5 {
	font-family: var(--header-font);
	margin-bottom: var(--margin-medium);
	margin-top: var(--margin-medium);
}

h6 {
	font-family: var(--paragraph-font);
	margin-top: var(--margin-small);
	color: black;
}

p {
	font-family: var(--paragraph-font);
	color: black;
}

.freq-bought-img {
	height: 300px;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

#product-details {
	margin-top: var(--margin-large);
}

.black-header {
	color: black;
	margin-bottom: var(--margin-small);
}

ul {
	padding-left: inherit;
}

li {
	font-family: var(--paragraph-font);
	font-size: 15px;
	line-height: 41px;
}

.card {
	margin-top: 10em;
	border: none;

}

.card-title {
	margin-top: -.5em;
	margin-bottom: 1em;

}

.card-text {
	margin-top: 1em;
	margin-bottom: var(--margin-medium);
}

.round-img-section {
	margin-bottom: var(--margin-small);
}

button#dropdownMenuButton {
	margin-bottom: var(--margin-small);
	background-color: transparent;
	font-family: var(--header-font);
	text-align: left;
}

button#dropdownMenu2 {
	margin-bottom: var(--margin-small);
	background-color: transparent;
	border: solid black 1px;
	color: black;
	font-family: var(--header-font);
}
.meta-nav-text {
	margin-top: -8px;
	color: white;
}

span {
	text-decoration: underline;

}

.thumbnail-main-view {
	height: 100px;
	margin-top: 11px;
	
}

.thumbnail-main-view:hover {
	cursor: pointer;
}

.thumbnail-main-view:first-child {
	margin-top: 10em;
}

button.btn.btn-primary.btn-lg.btn-block {
	background-color: transparent;
	color: black;
	font-family: var(--header-font);
	border: black 1px solid;
}

.rec-viewed {
	height: 235px;

	
}

.rec-viewed:hover {
	cursor: pointer;
}

 .recently-viewed {
 	margin-bottom: 0;
 }

 #footer {
	/*width: 100%;*/
	background-color: #0f69a5;
}

.oi.oi-phone, .oi.oi-envelope-closed, .oi.oi-home {
	color: white;
}

.footer-paragraph {
	color: white;
}

.footer-paragraph:hover {
	color: var(--third-color);
	cursor: pointer;
	text-decoration: underline;
}

.footer-headers {
	color: white;
	font-weight: 900;
}

.no-padding {
	padding-right: 0;
	padding-left: 0;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
	margin-top: -20px;
	background-color: white !important;

}

#nav-brand {
	width: 30%;
}

svg.svg-inline--fa.fa-facebook-f.fa-w-9, svg.svg-inline--fa.fa-snapchat-ghost.fa-w-16, svg.svg-inline--fa.fa-twitter.fa-w-16, svg.svg-inline--fa.fa-youtube.fa-w-18 {
	font-size: 1em;
	margin-top: 1.5em;
	color: white;
	margin-left: 20px;
}
/*PRODUCT VIEW CODE*/
.product-view-img {
	height: 25em;
	margin-bottom: .8em;
	cursor: pointer;
	margin-top: 2em;
	    
}

#product-margin-top {
	margin-top: 10em;
}

.product-color-change {
	height: 25px;
	width: 25px;
	margin-right: 5px;
	cursor: pointer;
}

.product-headers {
	margin-top: .9em;
	cursor: pointer;
}

.active-thumb {
	border: black 1px solid
}

