:root {
	--header-font: 'Varela Round', Sans-Serif;
	--paragraph-font: 'Open Sans', sans-serif;
	--margin-large: 4em;
	--margin-medium: 2.5em;
	--margin-small: 1.5em;
	--third-color: #F81EBC;
}

#meta-nav-detail {
	background-color: deepskyblue;
	height: 2em;
	padding-top: 3px;
}

#main_PD {
	height: 550px;
	width: auto;
	margin-top: 10em;
}

#main-nav {
	background-color: black;
	width: 100%;
}

.thumbnail-images {
	height: 50px;
	width: 50px;
}

button#dropdownMenuButton {
	background-color: white;
	color: black;
	width: 100%;
}

h5 {
	font-family: var(--header-font);
	margin-bottom: var(--margin-medium);
	margin-top: var(--margin-medium);
}

h6 {
	font-family: var(--paragraph-font);
	margin-top: var(--margin-small);
	color: black;
}

p {
	font-family: var(--paragraph-font);
	color: black;
}

.freq-bought-img {
	height: 300px;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

#product-details {
	margin-top: var(--margin-large);
}

.black-header {
	color: black;
	margin-bottom: var(--margin-small);
}

ul {
	padding-left: inherit;
}

li {
	font-family: var(--paragraph-font);
	font-size: 15px;
	line-height: 41px;
}

.card {
	margin-top: 10em;
	border: none;

}

.card-title {
	margin-top: -.5em;
	margin-bottom: 1em;

}

.card-text {
	margin-top: 1em;
	margin-bottom: var(--margin-medium);
}

.round-img-section {
	margin-bottom: var(--margin-small);
}

button#dropdownMenuButton {
	margin-bottom: var(--margin-small);
	background-color: transparent;
	font-family: var(--header-font);
	text-align: left;
}

button#dropdownMenu2 {
	margin-bottom: var(--margin-small);
	background-color: transparent;
	border: solid black 1px;
	color: black;
	font-family: var(--header-font);
}
.meta-nav-text {
	margin-top: -8px;
	color: white;
}

span {
	text-decoration: underline;

}

.thumbnail-main-view {
	height: 100px;
	margin-top: 11px;
	
}

.thumbnail-main-view:hover {
	cursor: pointer;
}

.thumbnail-main-view:first-child {
	margin-top: 10em;
}

button.btn.btn-primary.btn-lg.btn-block {
	background-color: transparent;
	color: black;
	font-family: var(--header-font);
	border: black 1px solid;
}

.rec-viewed {
	height: 235px;

	
}

.rec-viewed:hover {
	cursor: pointer;
}

 .recently-viewed {
 	margin-bottom: 0;
 	margin-top: 3em;
 }

 #footer {
 	overflow-y: hidden;
	overflow-x: hidden;
	
	background-color: #0f69a5;
	margin-top: 6em;
	box-shadow: 0px -1px 1px gray;


}

#margin-bottom {
	margin-bottom: 7em;
}

.oi.oi-phone, .oi.oi-envelope-closed, .oi.oi-home {
	color: white;
	text-decoration: none;
}

.footer-paragraph {
	color: white !important;
	color: var(--primary-color);
	margin-top: 0;
    margin-bottom: 1rem;
    font-family: var(--paragraph-font);
    
}




.footer-paragraph:hover {
	cursor: pointer;
	text-decoration: underline;
}

.footer-headers {
	color: deepskyblue;
	font-weight: 900;
	margin-top: 7em;
	margin-bottom: 2em;
	/*font-family: 'Noto Serif', Serif;*/
	font-family: var(--header-font);
}

.no-padding {
	padding-right: 0;
	padding-left: 0;
}

nav.navbar.navbar-expand-lg.no-padding {
	margin-top: -20px;
	background-color: white !important;

}

#nav-brand {
	width: 25%;
	margin-left: 2em;
}

.main-nav {
    color: deepskyblue;
    margin-left: 4em;
}

a.nav-link.margin-right {
    margin-right: 4em;
    margin-left: 4em;
    color: deepskyblue;
}
a.nav-link.margin-right:hover {
color: #0056b3;
}
 
svg.svg-inline--fa.fa-snapchat-ghost.fa-w-16, svg.svg-inline--fa.fa-twitter.fa-w-16, svg.svg-inline--fa.fa-youtube.fa-w-18 {
	font-size: 1em;
	margin-top: 1.5em;
	color: white;
	margin-left: 20px;
	cursor: pointer;
}

svg.svg-inline--fa.fa-facebook-f.fa-w-9 {
color: white;
	margin-left: 20px;
	font-size: 1em;
}
/*PRODUCT VIEW CODE*/
.product-view-img {
	height: 25em;
	margin-bottom: .8em;
	cursor: pointer;
	margin-top: 2em;
	    
}

#product-margin-top {
	margin-top: 10em;
}

.product-color-change {
	height: 25px;
	width: 25px;
	margin-right: 5px;
	cursor: pointer;
}

.product-headers {
	margin-top: .9em;
	cursor: pointer;
}

.active-thumb {
	border: black 1px solid
}

/*PAGINATION*/

.page-link {
	border: white 1px solid;
	color: deepskyblue;
}

.pagination {
	margin-top: 5em;
}

.pinapple {
	position: absolute;
    height: 500px;
    width: 600px;
/*   	animation: MoveUpDown 5s ease-in infinite;*/
    z-index: 2;
    left: -280px;
    transform: rotate(15deg);

}

.pinapple-img {
	height: 100%;
	width: auto;
}

.main-headers {
	font-family: var(--header-font);
	color: deepskyblue;
	font-size: 1.5em;
}

