:root {
	--primary-color: ;
	--secondary-color: ;
	--margin-small-right: 1em;
	--margin-small-top: .3em;
}

html, body {
	height: 100%;
	width: 100%;
}

.no-padding {
	padding: 0;
}

/*button styles*/

button.btn.btn-outline-primary {
	margin-right: var(--margin-small-right);
	margin-top: var(--margin-small-top);
}

button.btn.btn-outline-secondary {
	margin-top: var(--margin-small-top);
}

/*input and form fields*/

input.form-control {
	margin-top: var(--margin-small-top);
}

/*meta nav*/ 

a.nav-link {
	margin-top: var(--margin-small-top);
}

h1, h2, h3 {
	text-align: center;
	

}

.test {
  	position: absolute;
  	top: 35%; right: 0; bottom: 0; left: 0;

}

.test1 {
  	position: absolute;
  	top: 0; right: 0; bottom: 0; left: 0;

}

#hero {
	height: 90%;
}

video {
	height: auto;
	width: 100%;
}

img {
	height: 100px;
	width: 90px;
	margin-left: 1.5em;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
	background-color: transparent !important;
	position: fixed;
}

a.nav-link {
    margin-left: 45px;
}

#nav {
	height: 40px;
}

input.form-control {
	height: 30px;
	margin-right: 5px;
}


