:root {
	--primary-color: ;
	--secondary-color: ;
	--margin-small-right: 1em;
	--margin-small-top: .3em;
}

html, body {
	height: 100%;
	width: 100%;
}

.no-padding {
	padding: 0;
}

/*button styles*/

button.btn.btn-outline-primary {
	margin-right: var(--margin-small-right);
	margin-top: var(--margin-small-top);
}

button.btn.btn-outline-secondary {
	margin-top: var(--margin-small-top);
}

/*input and form fields*/

input.form-control {
	margin-top: var(--margin-small-top);
}

/*meta nav*/ 

a.nav-link {
	margin-top: var(--margin-small-top);
}

h1, h2, h3 {
	text-align: center;
}

#hero {
	height: 85%;
	background-color: pink;
}

