/*CSS VARIABLES*/
:root {
	--margin-small-right: 1em;
	--margin-small-top: .3em;
	--header-font: 'Varela Round', Sans-Serif;
	--paragraph-font: 'Open Sans', sans-serif;
	--primary-color: white;
	--secondary-color: #29c4f4;
	--third-color: #F81EBC;  /*#0f69a5*/
	--small-em: 3.5em;
}

/*UNIVERSAL STYLES*/
html, body {
	height: 100%;
	width: 100%;
}

.no-padding {
	padding: 0;
}

#selector {
	font-family: var(--header-font);

	font-size: 4.5rem;
	margin-top: 25px;

}

.margin-right {
	margin-right: 40px;
}

/*NAV STYLES*/
.navbar-position {
  	position: absolute;
  	top: 0; right: 0; bottom: 0; left: 0;
  	z-index: 1;
}

.meta-nav-bar {
	width: 100%;
	height: 7px;
	background-color: white;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
	background-color: transparent !important;
	position: fixed;
}

#nav {
	height: 40px;
	background-color: deepskyblue;
}

a.nav-link {
    margin-left: 70px;
    color: white;
    font-family: var(--paragraph-font);
}

a.nav-link:hover {
	color: var(--third-color);
}

#telephone {
	margin-left: 0;
}

.navbar-brand-mobile {
	display: none;
}

/*BUTTON STYLES*/
button.btn.btn-outline-secondary {
	margin-right: var(--margin-small-right);
	margin-top: var(--margin-small-top);
	color: white;
	border: 1px solid white;
}

button.btn.btn-outline-primary:hover {
	background-color: white;
	color: deepskyblue;
}

button.btn.btn-outline-secondary:hover {
	background-color: white;
	color: deepskyblue;
}

#test-button {
	margin-left: 40%;
	
}

button.btn.btn-outline-primary {
	margin-top: 100px;
	margin-right: 30px;
	color: white;
	border: 1px solid white;
}

/*INPUT AND FORM FIELDS*/
input.form-control {
	margin-top: var(--margin-small-top);
	border: 1px solid deepskyblue;
}

input.form-control {
	height: 30px;
	margin-right: 5px;
}

.form-control::-moz-placeholder {
  color: deepskyblue;
}
.form-control:-ms-input-placeholder {
  color: deepskyblue;
}
.form-control::-webkit-input-placeholder {
  color: deepskyblue;
}

/*TYPOGRAPHY*/
h1 {
	text-align: center;
	color: var(--primary-color);
	font-family: var(--paragraph-font);
	text-align: center;
	font-size: 60px;
}

h2 {
	text-align: center;
	color: var(--primary-color);
	font-family: var(--paragraph-font);
	font-size: 1.3em;
	text-align: center;
	margin-top: var(--small-em);
}

h4 {
	color: var(--third-color);
	text-align: center;
	font-family: var(--paragraph-font);
	margin-top: 20px;
}

h5 {
	text-align: center;
}
.sub-head-style {
	font-family: var(--header-font);
	color: pink;
	font-size: 30px;
	margin-top: 20px;
}
p.product-grid-paragraph {
	margin-right: 105px;
	margin-left: 105px;
	font-family: var(--paragraph-font);

}

span {
	text-align: center;
	display: block;
	color: var(--primary-color);
	font-family: var(--paragraph-font);
	text-align: center;
}

.hero-type-position {
  	position: absolute;
  	top: 29%; right: 0; bottom: 0; left: 0;
  	z-index: 3;
}

/*DESIGN ASSETS/VIDEO IMAGES*/
video {
	height: auto;
	width: 100%;
}

img {
	height: 100px;
	width: 90px;
	margin-left: 1.5em;
}

#mission-statment-img {
	height: 40%;
	width: auto;
}

.no-margin {
	margin: 0;
}

.product-grid-img {
	height: 300px;
	width: auto;
	/*margin: 0 auto;*/
}

#product-grid {
	background-color: white;
}

#mobile-logo {
	height: 30px;
	width: 30px;
	margin: 20px;
}

.test-img {
	background-image: url("../img/featured-front.jpeg");
	height: 300px;
	width: auto;
	background-size: cover;
	margin: 0 auto;
	overflow:hidden;
}

.test-img:hover {
	background-image: url("../img/featured-back.jpeg");
	height: 300px;
	width: auto;
}

.oi.oi-sun {
	color: yellow;
	font-size: 20px;
	display: block;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
}

.break-line {
	height: 2px;
	background-color: var(--primary-color);
	width: 23%;
	margin-top: 30px;
	display: block;
	margin: 0 auto;
}

/*MOBILE MEDIA QUERY*/
@media only screen 
  and (min-width: 320px) 
  and (max-width: 480px) {
  	.navbar-brand {
  		display: none;
  	}
  	.navbar-brand-mobile {
  		display: inline;
  	}
}

img.carousel-img {
	height: 400px;
	width: 400px;
}


#FUCK {
	height: 100%;
	width: auto;

	/*z-index: 1000;
	transform: translate(130px, -40px);*/

	/*transform: translateY();*/
}

.pink-tube {
	position: absolute;
    height: 500px;
    width: 500px;
   animation: MoveUpDown 5s ease-in infinite;
    z-index: 2;
    bottom: -150px;
    right: -15px;
}

#hero-position {
	overflow-x: hidden;
}

.goggle-float {
	position: absolute;
    height: 500px;
    width: 500px;
   	animation: MoveSideWays 10s linear infinite;
    z-index: 2;
    transform: rotate(-25deg);
    left: 50px; /*-25*/
    top: 50px;

}

#goggle-img {
	height: 80%;
	width: 80%;

}

@keyframes MoveSideWays {
  0% {
    transform: translate(0px, 0px) rotate(-25deg);
  }
  50% {
    transform: translate(5px, 10px) rotate(-20deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(-25deg);
  }
}




@keyframes MoveUpDown {
  0% {
    transform: translate(0px, 0px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: translate(-5px, -10px) rotateX(3deg) rotateY(3deg);
  }
  100% {
    transform: translate(0px, 0px) rotateX(0deg) rotateY(0deg);
  }
}


svg.svg-inline--fa.fa-facebook-f.fa-w-9, svg.svg-inline--fa.fa-snapchat-ghost.fa-w-16, svg.svg-inline--fa.fa-twitter.fa-w-16, svg.svg-inline--fa.fa-youtube.fa-w-18 {
	font-size: 1em;
	margin-top: 1.5em;
	color: white;
	margin-left: 20px;
}

svg.svg-inline--fa.fa-facebook-f.fa-w-9 {
	margin-top: 0;
}
svg.svg-inline--fa.fa-facebook-f.fa-w-9:hover {
	color: var(--third-color);
	cursor: pointer;
}

svg.svg-inline--fa.fa-snapchat-ghost.fa-w-16:hover {
	color: var(--third-color);
	cursor: pointer;
}

svg.svg-inline--fa.fa-twitter.fa-w-16:hover {
	color: var(--third-color);
	cursor: pointer;
}

svg.svg-inline--fa.fa-youtube.fa-w-18:hover {
	color: var(--third-color);
	cursor: pointer;
}

h6 {
/*	text-align: center;*/
	margin-top: 4em;
	margin-bottom: 2em;
	/*font-family: 'Noto Serif', Serif;*/
	font-family: var(--header-font);
}



#footer {
	height: 50%;
	width: 100%;
	background-color: deepskyblue;
	overflow-y: hidden;
}

.pinapple {
	position: absolute;
    height: 500px;
    width: 600px;
/*   	animation: MoveUpDown 5s ease-in infinite;*/
    z-index: 2;
    left: -280px;
    transform: rotate(15deg);

}

.pinapple-img {
	height: 100%;
	width: auto;
}

#meta-footer {
	background: linear-gradient(180deg, deepskyblue 65%, #0f69a5 35%);
	height: 140px;
}

.meta-footer-icon {
	
	position: absolute;
  	bottom: 15px;
  	left: 200px;
  	color: #093b5d;
}

#seattle-tag {
	position: absolute;
  	bottom: 15px;
  	right: -980px;
  	color: #093b5d;
}

.oi.oi-phone, .oi.oi-envelope-closed, .oi.oi-home {
	color: #0f69a5;
}

.footer-paragraph {
	color: var(--primary-color);
}

.footer-paragraph:hover {
	color: var(--third-color);
	cursor: pointer;
}

.footer-headers {
	color: #0f69a5;
	font-weight: 900;
}

svg.svg-inline--fa.fa-plus.fa-w-14 {
	margin: 0 auto; 
	display: block; 
	font-size: 40px; 
	margin-top: 1em; 
	color: var(--third-color);
}

.card {
	height: 500px;
	border: var(--third-color) 2px solid;
	margin: 2em 0 2em 0;
}

svg.svg-inline--fa.fa-microphone.fa-w-12 {
	margin: 0 auto; 
	display: block; 
	font-size: 40px; 
	margin-top: 1em; 
	color: var(--third-color);
}





